.titles-to-file {
  &__inner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .form__template {
      &__inner {
        padding: 16px 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__input {
        height: 200px;
      }
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 16px;
      width: 600px;
      height: auto;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 12px #00000066;
      border-radius: 4px;
    }
  }
}
