.header {
  margin: 0 auto;
  position: sticky;
  top: 0;
  &__inner {
    height: 79px;
    box-sizing: border-box;
    background: #bac0c5;
    padding: 16px 32px;
    & > p {
      margin: 16px 0;
      text-decoration-line: underline;
      text-align: left;
      font-size: 22px;
      font-weight: bold;
      color: #004257;
    }
  }
}
