.sidebar {
  width: 120px;
  position: fixed;
  background: #004257 0% 0% no-repeat padding-box;
  &__inner {
    padding: 25px;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 38px;
      }
      &:not(:first-child) > img {
        width: 40px;
        height: 40px;
      }
      & > img {
        width: 69px;
        height: 69px;
      }
      &:last-child {
        position: absolute;
        bottom: 20px;
      }
      & > p {
        color: white;
        text-transform: uppercase;
        font-size: 14.5px;
      }
    }
  }
}
